@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: 'Lora', serif;
    background: #f4a764;
}

h1, h3 {
    font-family: "Lora", serif;
    font-size: 26px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
}

/* Estilos gerais para o formulário */
.form-container {
    background-color: #F0F0F0; /* Cor de fundo similar à imagem */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 30px; /* Padding maior para espaçamento */
}

.section-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.section-divider {
    border-top: 2px solid #CCCCCC; /* Linha de separação */
    margin: 20px 0;
}

/* Ajustes para os campos do formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
}

/* Ajustes para os botões */
.btn {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
}

.btn-success {
    background-color: #8bc864; /* Cor verde similar à imagem */
    border-color: #8bc864;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-success:hover {
    background-color: #79b77a;
    border-color: #79b77a;
}

/* Estilo para responsividade */
@media (max-width: 768px) {
    .form-group {
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}
