@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Parte do header */
body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

/* CSS for main section */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://img.freepik.com/fotos-gratis/visao-superior-da-variedade-de-piramide-alimentar-real_23-2150238927.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-family: "Lora", serif;
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}


.achievements .work .work-text {
  font-family: "Abel", sans-serif;
  font-size: 17.5px;
  color: #585858;
  margin: 10px 0;
  text-align: center;
}

.achievements .nav-link {
  color: white;
  width: 200px;
}

.achievements .btn-color {
  background-color: #275D8C;
}


/* Estilos para a tabela */
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

/* Estilo de cabeçalho da tabela */
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  background-color: #f8f9fa;
  color: #495057;
  font-weight: bold;
  font-size: 16px;
}

/* Estilo das linhas da tabela */
.table tbody tr {
  transition: background-color 0.2s;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}

/* Estilo das células da tabela */
.table tbody td {
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
  color: #343a40;
}

.table-container {
  max-height: 400px; 
  overflow-y: auto; 
  margin-bottom: 20px; 
}

.table-container table {
  width: 100%;
  border-collapse: collapse; 
}

.table-container th, .table-container td {
  padding: 12px;
  text-align: center;
  border: 1px solid #dee2e6; 
}

.table-container {
  max-height: 400px; 
  overflow-y: auto; 
  margin-bottom: 20px;
  position: relative; 
}

.fixed-header thead {
  position: sticky; 
  top: 0; 
  z-index: 100; 
  background-color: #f8f9fa; 
}

.fixed-header th {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-bottom: 2px solid #dee2e6;
}

.fixed-header tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.fixed-header tbody tr:hover {
  background-color: #e9ecef;
}

.fixed-header tbody td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  font-size: 14px;
  color: #343a40;
}



/* Estilo para o formulário de pesquisa */
.form-search {
margin: 30px 0;
display: flex;
justify-content: center;
align-items: center;
}

.form-search .form-group {
margin-right: 10px;
}

.form-search input {
width: 230px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.form-search button {
padding: 10px 10px;
background-color: #275D8C;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
}

.form-search button:hover {
background-color: #1b4163;
}

/* Estilo para a exibição dos dados do doador */
.donor-info {
margin: 20px 0;
padding: 20px;
background-color: #f8f9fa;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.donor-info h3 {
margin-bottom: 20px;
font-size: 24px;
color: #333333;
font-family: 'Lora', serif;
}

.donor-info .list-group-item {
border: none;
padding: 10px 15px;
font-size: 16px;
background-color: transparent;
color: #333;
}

.donor-info .list-group-item:not(:last-child) {
border-bottom: 1px solid #ddd;
}

/* Estilo adicional para botões */
.btn-primary {
background-color: #275D8C;
border-color: #275D8C;
transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
background-color: #1b4163;
border-color: #1b4163;
}

/* Estilos adicionais para responsividade */
@media (max-width: 768px) {
.form-search input {
    width: 100%;
    margin-bottom: 10px;
}

.form-search .form-group {
    width: 100%;
}

.form-search button {
    width: 100%;
}

.donor-info {
    padding: 15px;
}

.donor-info h3 {
    font-size: 20px;
}

.donor-info .list-group-item {
    font-size: 14px;
}
}

