<style type="text/css">
footer {
    background: #f9fbf8a8;
    padding: 20px;
    margin-top: 20px;
    position: relative;
    font-family:'Roboto', sans-serif; 
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .7), 0 2px 8px 0 rgba(0, 0, 0, .5), 0 1px 5px 0 rgba(0, 0, 0, .1);
}

footer h4 {
    color: #8bc864;
    font-size: 20px;
    margin: 0 20px;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
}

footer h4:hover {
    color: #000000;
}

footer .navbar-nav i{
    text-align: justify;
}

footer .navbar-nav a{
    color: #1e1919be;
    font-weight: 25px;
    font-size: 14px;
}

footer .navbar-nav a:hover{
    color: #000000;
    text-decoration: none;
}

footer ul li{
    list-style: none;
}

footer ul li{
    float: right;
    margin: 0 20px;
    padding-top: 5px;
}

footer ul li img {
    float: right;
}

footer p span {
    color: #000000; 
}

.social-media {
    display: inline-block;     
}

.social-media i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    margin: 10px 3px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    background-color: #8bc864;
    border-radius: 50%;
    color: white;
}

.social-media i:hover {
    transform: scale(1.2);
}
</style>


<footer>
    <div class="">
      <div class="row">
        <div class="col-md-4">
          <h4>Contatos</h4>
          <ul class="navbar-nav">
            <li><a href="">Telefone: (00) 0000-0000</a></li>
            <li><a href="">Endereço: Rua Fatec Araras, N° 833, José Ometto II, Araras/SP</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4>Links úteis</h4>
          <ul class="navbar-nav">
            <li><a href="" target="_blank">Quantidade de Pessoas sem comer</a></li>
            <li><a href="" target="_blank">Resumo da Fome</a></li>
            <li><a href="" target="_blank">Receitas</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h4>Midias sociais</h4>
          <ul class="social-media">
            <a href="https://www.facebook.com/" target="_blank"> <i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>