<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index_style.css' %}">
        <title> HomePage </title>
    </head>

    <body>
        {% include 'header.html' %}
        <main>
            <div class="intro">
            <h1>CONNECT FOOD</h1>
            <p>Salve um produto e alimente um ser humano.</p>
            </div>
            <div class="achievements">
            <div class="work col-md-4">
                <img src='{% static "img/reuso.png"%}'/>
                <p class="work-heading">Reaproveitamento</p>
                <p class="work-text">Doação de produtos próximos a validade para instituições de caridade.</p>
            </div>
            <div class="work col-md-4">
                <img src='{% static "img/direction.png"%}'/>
                <p class="work-heading">Direcionamento</p>
                <p class="work-text">Apurar de forma precisa os alimentos que específicas instituições necessitam, e se os mesmos podem ser salvos da data de vencimento.</p>
            </div>
            <div class="work col-md-4">
                <img src='{% static "img/hierarchical-structure.png"%}'/>
                <p class="work-heading">Estruturamento</p>
                <p class="work-text">Auxiliar um problema estrutural e fundamental o ser humano, a fome. Colaboração de insumos a instituições de caridade</p>
            </div>
            </div>
            <div class="achievements">
            <div class="work">
                <img src='{% static "img/doacao.png"%}'/>
                <p class="work-heading">Doacoes feitas</p>

            <div class="container mt-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Código do Alimento</th>
                            <th>Categoria</th>
                            <th>Alimento</th>
                            <th>Quantidade</th>
                            <th>Validade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for alimento in alimentos %}
                        <tr>
                            <td>{{ alimento.alimento_id }}</td>
                            <td>{{ alimento.categoria }}</td>
                            <td>{{ alimento.alimento }}</td>
                            <td>{{ alimento.quantidade }}</td>
                            <td>{{ alimento.validade|date:"d/m/Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>